@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

::-webkit-scrollbar { display: none; }

*
{
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
    color: #000000;
}

button, input[type=submit], .button
{
    display: flex;
    align-items: center;
    padding: 16px 24px;
    width: fit-content;
    background: #0056FB;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);

    &.white 
    {
        background: #FFFFFF; 
        color: #000000;
    }
}
