.article
{
    padding: 80px 0;

    .column
    {
        display: flex;
        align-items: center;
        
        .content
        {
            float: right;
            width: 80%;
        }

        .image
        {
            width: 100%;
        }
    }
}