.program
{
    padding: 80px 0;
    
    .item
    {
        padding: 40px;
        height: 100%;
        background: #F4F8FB;
        border-radius: 8px;
        box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);

        .point
        {
            display: flex;
            align-items: center;

            .title { font-weight: 600; }
        }
    }
}