.header
{
    .wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        .title 
        { 
            font-weight: 600;
            font-family: 'Lobster', cursive;
        }
    }
}