.footer
{
    background: #F4F8FB;

    .wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;

        .author a { font-weight: 600; }
    }
}